@import '../../css/globalStyles';

.inputs-content{
    @include flexbox();
    flex-direction: column;
    gap: 20px;

    .input-control{
        @include flexbox();
        flex-direction: column;
        gap: 10px;
        font-weight: 500;

        input[type="text"]{
            padding: 5px;
            background-color: $grey-color-1;
            color: $grey-color-2;
            text-align: right;
            font-weight: 900;
            font-size: 1rem;
            border-radius: 10px;
        }
    }
}